<h1>Artists Index</h1>
<hr>
<%= link_to "Add New Artist", new_artist_path%>
<ul>
<% @artists.each do |artist| %>
<li><%= artist.name %></li>

<%= link_to "View Artist", artist_path(artist) %> | 
<%= link_to "Delete Artist", artist_path(artist), method: :delete %>
<%end%>
</ul>

<%= link_to "Back To Billboards", billboards_path%>