<h1 class="ui header">Billboards Index</h1>
<hr>
<h3><%= link_to "Add A Billboard", new_billboard_path%></h3>
<br>
<% @billboards.each do |billboard| %>
  <%= billboard.name %>
  <br>
  <%= link_to "View Songs on Billboard", billboard_path(billboard)%> | 
  <%= link_to "Edit Billboard Name", edit_billboard_path(billboard)%> |
  <%= link_to "Delete Billboard", billboard_path(billboard), method: :delete %>
  <br>
<%end%>
<h4><%= link_to "View Artists", artists_path%></h4>

